.Layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .page {
    height: 87%;
  }

  .tabbar {
    height: 0%;
   
    .adm-tab-bar-item {
      color: black;
      font-weight: bold;
      padding-top: 40px;
       font-size: 20px;
    }

    .adm-tab-bar-item-active {
      color: rgb(105, 174, 120);
    }
  }
}

.kaDate {
  .adm-picker-header {
    a {
      color: #69ae78;
    }
  }
}
