.keepAccounts {
  --bg-color: #B0E0E6;
  --color:#90EE90;
  --border-color: #191d26;

  height: 100%;
  background-color: var(--bg-color);

  .nav {
    --adm-font-size-10: 18px;
    color: #121826;
    background-color: transparent;
    &::after {
      height: 0;
    }

    .adm-nav-bar-back-arrow {
      font-size: 20px;
    }
  }

  .header {
    height: 132px;

    .Type {
      padding: 9px 0;
      text-align: center;

      .adm-button {
        --adm-font-size-9: 13px;

        &:first-child {
          margin-right: 10px;
        }
      }
      .selected {
        color: #fff;
        --background-color: #FFA07A;
      }
    }

    .FormWrapper {
      padding: 10px 22.5px 20px;
      .Form {
        
        display: flex;
        height: 50px;
        padding: 11px 15px 11px 12px;
        border: 0.5px solid var(--border-color);
        background-color: #FFFAF0;
        border-radius: 9px;
       

        .date {
          display: flex;
          align-items: center;
          height: 28px;
          padding: 5.5px 5px;
          border-radius: 4px;
          // color: #4f825e;
          color: black;
          background-color: var(--color);

          .icon {
            margin-right: 6px;
            font-size: 17px;
          }
          .text {
            font-size: 16px;
          }
        }

        .Input {
          flex: 1;
          display: flex;
          align-items: center;

          .input {
            flex: 1;
            margin-right: 10px;
            --text-align: right;
            --font-size: 24px;
            --color: var(--color);
            --placeholder-color: #d1d1d1;
          }

          .currency {
            font-size: 24px;
          }
        }
      }
    }
  }

  .container {
  }
  .TypeList {

    
    height: 70%;
    padding: 20px 11px;
    padding-bottom: 70px;
    overflow-y: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/sunflower.jpg");

   
    border-radius: 20px 20px 0 0;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    .Type {
      margin-bottom: 25px;
      font-size: 12px;
      color: #333;

      .title {
        padding-left: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
        color: black;
      }
      .list {
        
        display: flex;

        .item {
          border-radius: 15px;
          
          margin-top: 10px;
          width: 100px;
          font-size: 16px;
          background-color: #FFFFE0;
          height: 40px;
          padding: 9px 2px 2px 2px;
          color: black;
          margin-right: 7px;
          text-align: center;
          border: 0.5px solid #fff;
          &:last-child {
            margin-right: 0;
          }

          .icon {
            height: 25px;
            line-height: 25px;
            margin-bottom: 5px;
            font-size: 25px;
          }
        }
        .item.selected {
          border: 0.5px solid var(--border-color);
          border-radius: 5px;
          background: var(--bg-color);
        }
      }
    }
  }

  .btns {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;

    .btn {
      width: 12%;
      --border-width: 0;
      --background-color: #fafafa;
      --text-color: #616161;
      &:first-child {
        margin-right: 15px;
      }
    }
    .btn.save {
      --background-color: var(--color);
      --text-color: black;
    }
  }
}
